@model COBIN.Web.Models.PasswordModel
@{
    ViewBag.Title = "Change Password";

}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table class="Form3cols">
        <thead>
            <tr>
                <th>
                    Change Password
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                          

                            @if (User.Identity.Name != Model.UserName)
                            {
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.UserName)
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.UserName, new { disabled = "true" })
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Html.LabelFor(model => model.OldPassword)
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.OldPassword, new { autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.OldPassword)
                                </div>
                            }
                            <div>
                                @Html.LabelFor(model => model.NewPassword)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.NewPassword, new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.ConfirmNewPassword)
                            </div>
                            <div>
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                @Html.HiddenFor(model => model.UserName)
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
                <input name="cancel" type="button" value="Back" onclick="window.history.back()" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.IsPopup == "y")
    {
        <script type="text/javascript">
            $(window).load(function () {
                DisplayConfirmation('Information', '@ViewBag.Message', 'info');
            });
        </script>
    }
}
